{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}

    {{ include('navbar.html.twig') }}


        <div class="row">
            <div class="col-6 mt-5">
               {% for result in results %}
                    <h1>{{ result.type }}</h1>
                {% endfor %}
            </div>
        </div>

        <div class="row">

             <div class="col-12 d-lg-none">
                {{ include('sidebar.html.twig') }}
            </div>

            <div class="col-12 col-lg-10">   

                <div class="row mb-3">
                    <div class="col-12 d-flex justify-content-end">
                        <a class="text-secondary text-end" href="{{ path('event_new') }}">Create new</a>
                    </div>
                </div>    

                <div class="row">

                    {% for result in results %}
                    
                        <div class="col-12 col-lg-6 mb-4">
                            <div class="card h-100 shadow-sm"> 
                                <div class="card-header text-uppercase bg-dark text-light">
                                    {{ result.name }}
                                </div>
                            
                                    <img class="d-none d-md-block" src="{{ result.image }}">
                                
                                    <div class="card-body">
                                        <div class="mt-auto lead"> 
                                            <h5><mark class="p-1">{{ result.date|date("F jS") }}</mark></h5>
                                            <div class="my-3">{{ result.date|date("g:ia") }} </div>
                                        </div>

                                        <button class="btn btn-secondary my-1">
                                            <a class="text-light" href="{{ path('event_show', {'id': result.id}) }}">show</a>
                                        </button>
                                    </div>
                                        
                                    <div class="card-footer">
                                        <small class="text-muted">
                                            <strong>URL:</strong> 
                                            <br>    
                                            <a href="{{ result.url }}" class="text-dark">{{ result.url }}</a>
                                        </small>
                                    </div>
                            </div>
                        </div>              

                    {% endfor %}

                </div>

            </div>

            <div class="d-none d-lg-block col-lg-2">
                     {{ include('sidebar.html.twig') }}
            </div>

        </div>

        <div class="row">
            <div class="col-6 my-3">
                 <a class="text-dark" href="{{ path('event_index') }}">back to list</a>
            </div>
        </div>


   {{ include('footer.html.twig') }}

{% endblock %}